* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  outline: none;
}

body {
  background-color: #8a51fc;
}
.logo {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 20px auto;
}

main {
  width: 375px;
  border-radius: 20px;
  background-color: white;
  margin: 0 auto 40px;
  padding: 44px 24px 23px;
}

label {
  font-size: 14px;
  color: #777777;
  font-weight: 400;
}

select,
input {
  background: #fff;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 200;
  font-size: 16px;
  cursor: pointer;
}

button {
  background: #772fd3;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

section {
  border: 1px solid #772fd3;
  border-radius: 20px;
  margin-top: 36px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  margin: 15px 0;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.currency {
  color: #777777;
  font-size: 14px;
}
.currency-value-to-convert,
.converted-currency-value {
  color: #555555;
  font-weight: 700;
  font-size: 20px;
}
